.fs12 { font-size:12px; }
.mtopbot5p { margin-top:5px;margin-bottom:5px; }
.padRight0 { padding-right:0px; }
.padLeft0 { padding-left:0px; }
.padLeft10 { padding-left:10px; }
.padLeft40 { padding-left:40px; }
.pad0 { padding:0px; }
.pad10 { padding:10px; }
.mtop5p { margin-top:5px; }
.mtop10p { margin-top:10px; }
.mtop15p { margin-top:15px; }
.mbot0p { margin-bottom:0px; }
.hide-block { display:none; }

.process-bg { background-color:#eee;padding-top:5px;padding-bottom:5px; }