body { background-color:#fff; }
.footer { position: fixed;left: 0;bottom: 40px;width: 100%;text-align: center; }
.div-logo { padding:5px;margin-top:10px; }
.div-intro { line-height:32px;font-family:mlhfont002;text-transform:uppercase; }